@use "sass:color";
@use "../variables" as *;

.blnt-toc {
  position: sticky;
  top: $spacing-lg;

  @media (max-width: $breakpoint-lg) {
    display: none;
  }

  nav {
    border-left: 2px solid $border-color;
    padding-left: $spacing-md;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      margin-left: $spacing-md;
      margin-top: $spacing-xs;
    }
  }

  li {
    margin-bottom: $spacing-xs;
  }

  a {
    color: $text-light;
    text-decoration: none;
    font-size: $font-size-sm;
    transition: color 0.2s ease;

    &:hover {
      color: $primary-color;
    }
  }
}
